body {
  --tw-fontfamily-lato: 'Lato', sans-serif;
  --tw-fontcolor-lightgrey: #ababab;
  --tw-content-padding: 10px;
  --tw-closebutton-color: #d9444e;
  padding: 0;
  margin: 0; }

/* Header */
header {
  width: 100%;
  max-width: 940px;
  margin: 0 auto; }
  header .banner {
    width: 100%; }
    header .banner img {
      width: 100%; }

/*variables*/
body {
  --stats-topcolumn-color: #74b46c;
  --stats-bottomcolumn-color: #747474;
  --stats-countrytxt-color: #808080;
  --stats-marginright-size: 1%;
  --stats-topcolumn-width: 100%;
  --stats-country-fontsize: 0.875em;
  --stats-percentage-fontsize: 0.75em;
  --stats-percentageplus-color: #50a45d;
  --stats-percentageminus-color: #535353;
  --stats-country-fontfamily: 'Lato', sans-serif; }

.stats {
  display: block; }
  .stats .data {
    display: block;
    width: 50%;
    text-align: center;
    margin-right: var(--stats-marginright-size); }
    .stats .data .bar-container {
      height: 100px;
      position: relative; }
    .stats .data .topcolumn {
      width: 50%;
      float: right;
      display: block;
      background-color: var(--stats-topcolumn-color);
      width: var(--stats-topcolumn-width);
      height: 0;
      position: absolute;
      bottom: 0; }
    .stats .data .country {
      font-size: var(--stats-country-fontsize);
      color: var(--stats-countrytxt-color);
      font-family: var(--stats-country-fontfamily); }
    .stats .data .CAcolumn {
      width: 15%; }
    .stats .data .MXcolumn {
      width: 35%; }
    .stats .data .GBcolumn {
      width: 14%; }
    .stats .data .BRcolumn {
      height: 13%; }
    .stats .data .DEcolumn {
      height: 10%; }
    .stats .data .AUcolumn {
      height: 1%; }
    .stats .data .JPcolumn {
      height: 40%; }
    .stats .data .ITcolumn {
      height: 2%; }
    .stats .data .CNcolumn {
      height: 1%; }
    .stats .data .FRcolumn {
      height: 8%; }
    .stats .data .TOTALcolumn {
      height: 11%; }
    .stats .data .percentage {
      font-size: var(--stats-percentage-fontsize);
      font-family: var(--stats-country-fontfamily);
      font-weight: bold; }
    .stats .data .percentageplus {
      float: left;
      color: var(--stats-percentageplus-color); }
    .stats .data .percentageminus {
      float: left;
      color: var(--stats-percentageminus-color); }
    .stats .data .bottomcolumn {
      background-color: var(--stats-bottomcolumn-color); }

.main {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0px;
  overflow-x: hidden; }

.td-section {
  width: 100%;
  background: #7ed2da;
  background: linear-gradient(90deg, #7ed2da 0%, #8ebc94 100%); }
  .td-section .tdimg {
    max-width: 138px;
    width: 100%;
    height: auto;
    margin: 0 auto; }
    .td-section .tdimg img {
      padding-top: 10px;
      width: 100%; }
  .td-section .description {
    width: 100%;
    font-family: var(--tw-fontfamily-lato);
    font-size: 0.750em;
    font-style: italic;
    line-height: 1.17;
    text-align: center;
    color: #fff; }
    .td-section .description p {
      margin-top: 2px;
      padding-bottom: 10px; }

.traveldemand-container {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  padding: 0 var(--tw-content-padding);
  box-sizing: border-box;
  /* brown container*/ }
  .traveldemand-container .brown-container {
    width: 100%;
    background-color: #3f3433;
    margin: 0 auto; }
    .traveldemand-container .brown-container ul {
      list-style-type: none; }
      .traveldemand-container .brown-container ul li {
        margin: 7px auto;
        display: inline-block; }
        .traveldemand-container .brown-container ul li:nth-child(n+4) {
          display: none; }
        .traveldemand-container .brown-container ul li a {
          font-family: var(--tw-fontfamily-lato);
          font-size: 0.875em;
          text-align: left;
          color: #fff;
          text-decoration: none;
          padding: 10px; }
          .traveldemand-container .brown-container ul li a.active {
            font-weight: bold;
            background-color: #fff;
            color: #ca382b; }
  .traveldemand-container .tabcontent {
    width: calc(100% - calc(var(--tw-content-padding) * 2));
    max-width: 920px;
    max-height: 505px;
    box-shadow: 0 22px 30px 0 rgba(32, 33, 47, 0.16);
    background-color: #ffffff;
    position: absolute;
    z-index: 9;
    box-sizing: border-box;
    display: none; }
    .traveldemand-container .tabcontent.active {
      display: block; }
  .traveldemand-container .whitesection {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    /* Notification button */ }
    .traveldemand-container .whitesection .bookings-text {
      margin: 0 auto;
      max-width: 260px;
      width: 100%; }
      .traveldemand-container .whitesection .bookings-text h3 {
        width: 100%;
        height: 36px;
        font-family: var(--tw-fontfamily-lato);
        font-size: 1em;
        font-weight: bold;
        text-align: center;
        color: #3f3433; }
    .traveldemand-container .whitesection .bookings-grey-text {
      width: calc(100% - 60px);
      margin: 0 auto; }
      .traveldemand-container .whitesection .bookings-grey-text p {
        text-align: center;
        margin: 10px auto;
        font-size: 0.750em;
        font-family: var(--tw-fontfamily-lato);
        color: var(--tw-fontcolor-lightgrey); }
    .traveldemand-container .whitesection .flight-booking {
      max-width: 260px;
      width: 100%;
      margin: 0 auto;
      overflow: hidden; }
      .traveldemand-container .whitesection .flight-booking .flight-text {
        width: 70%;
        float: left; }
        .traveldemand-container .whitesection .flight-booking .flight-text p {
          width: 100%;
          margin: 0;
          font-family: var(--tw-fontfamily-lato);
          color: var(--tw-fontcolor-lightgrey);
          font-size: 0.625em;
          text-align: left; }
      .traveldemand-container .whitesection .flight-booking .logo-section {
        margin-left: 10px;
        display: inline-block;
        width: 25%;
        float: left; }
        .traveldemand-container .whitesection .flight-booking .logo-section .poweredby {
          width: 100%; }
          .traveldemand-container .whitesection .flight-booking .logo-section .poweredby p {
            margin: 0;
            font-size: 0.563em;
            font-style: italic;
            text-align: center;
            font-family: var(--tw-fontfamily-lato);
            color: var(--tw-fontcolor-lightgrey); }
        .traveldemand-container .whitesection .flight-booking .logo-section .logo img {
          width: 100%; }
    .traveldemand-container .whitesection .button {
      position: relative;
      /* Red CLOSE button */ }
      .traveldemand-container .whitesection .button .notification {
        position: absolute;
        right: 3%;
        bottom: 70%;
        color: #fff;
        background-color: #ff8c00;
        text-align: center;
        border-radius: 50%;
        border: 2px solid white;
        box-shadow: 0px 2px #808080;
        width: 22px;
        height: 22px;
        line-height: 22px;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        -webkit-transition-duration: 0.5s; }
      .traveldemand-container .whitesection .button .notification:hover {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
        transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36); }
      .traveldemand-container .whitesection .button .redbutton {
        display: block;
        margin: 20px auto;
        width: calc(100% - 40px);
        height: 30px;
        border-radius: 5px;
        background-color: var(--tw-closebutton-color);
        line-height: 30px;
        color: #ffffff;
        font-family: var(--tw-fontfamily-lato);
        text-align: center;
        font-size: 0.813em;
        text-decoration: none; }

/*# sourceMappingURL=style.css.map */
