/* Header */
header {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;

  .banner {
    width: 100%;

    img {
      width: 100%;
    }
  }
}

@media screen and (min-width: 768px) {
  header .banner{
  width: 150px;
  }
}