/*variables*/

/*variables*/

body {
  --stats-topcolumn-color: #74b46c;
  --stats-bottomcolumn-color: #747474;
  --stats-countrytxt-color: #808080;
  --stats-marginright-size: 1%;
  --stats-topcolumn-width: 100%;
  --stats-country-fontsize: 0.875em;
  --stats-percentage-fontsize: 0.75em;
  --stats-percentageplus-color: #50a45d;
  --stats-percentageminus-color: #535353;
  --stats-country-fontfamily: 'Lato', sans-serif;
}

.stats {
  display: block;
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;

  .data {
    display: block;
    width: 100%;
    text-align: center;
    margin-right: var(--stats-marginright-size);
    overflow: visible;
    .bar-container {
      height: 25px;
      position: relative;
      float: right;
      width: 37%;
      &.left {
        width: 20%;
      }
    }

    .title-container {
      float: right;
      height: 25px;
      width: 33%;
    }

    .topcolumn {
      display: block;
      background-color: var(--stats-topcolumn-color);
      width: var(--stats-topcolumn-width);
      height: 20px;
      margin: 3.5px 0;
      width: 0;
    }
    .bottomcolumn {
      background-color: var(--stats-bottomcolumn-color);
      float: right;
      height: 15px;
      margin: 3.5px 0;
      width: 0;
    }
    .country {
      width: 50%;
      float: right;
      margin: 0;
      line-height: 25px;
      font-size: var(--stats-country-fontsize);
      color: var(--stats-countrytxt-color);
      font-family: var(--stats-country-fontfamily);
    }

    .tooltip {
      position: relative;
      .tooltiptext {
        z-index: 8;
        margin-top: -25px;
        left: 44%;
        width: 63.5px;
        height: auto;
        position: absolute;
        border-radius: 34px;
        box-shadow: 4px 2px 5px 0 rgba(0, 0, 0, 0.09);
        background-color: #97ccca;
        visibility: hidden;
        text-align: center;
        padding: 5px 0;
        font-family: var(--stats-country-fontfamily);
        font-size: 0.750em;
        text-align: center;
        color: #ffffff;
        &.big {
          width: 87.5px;
          left: 31%;
        }
        &::after {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          bottom: -5px;
          left: calc(50% - 5px);
          border-style: solid;
          border-width: 5px 5px 0 5px;
          border-color: #97ccca transparent transparent transparent;
        }
      }
      &:hover .tooltiptext {
        visibility: visible;
      }

    }

    .CAcolumn {
      width: 15%;
    }
    .MXcolumn {
      width: 35%;
    }
    .GBcolumn {
      width: 14%;
    }
    .BRcolumn {
      width: 13%;
    }
    .DEcolumn {
      width: 10%;
    }
    .AUcolumn {
      width: 1%;
    }
    .JPcolumn {
      width: 40%;
    }
    .ITcolumn {
      width: 2%;
    }
    .CNcolumn {
      width: 1%;
    }
    .FRcolumn {
      width: 8%;
    }
    .TOTALcolumn {
      width: 11%;
    }
    .percentage {
      font-size: var(--stats-percentage-fontsize);
      font-family: var(--stats-country-fontfamily);
      font-weight: bold;
      width: 35%;
      float: right;
      margin: 0;
      line-height: 25px;

      &.percentageplus {
        color: var(--stats-percentageplus-color);
      }
      &.percentageminus {
        color: var(--stats-percentageminus-color);
      }
    }


    &:first-of-type .tooltip .tooltiptext{
      margin-top: 25px;

      &::after {

        bottom: 100%;
        border-style: solid;
        border-width: 0 5px 5px 5px;
        border-color:  transparent transparent #97ccca transparent;
      }
    }
  }

}
